<!DOCTYPE html>
<html>
  <head>
    <title>Announcements</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Announcements</h1>
    <% if (anuncios.length === 0) { %>
        <p>Not found your search</p>
    <% } else { %>
    <table>
      <tr>
        <th>Name</th>
        <th>Sale</th>
        <th>Price</th>
        <th>Tags</th>
        <th>Photos</th>
      </tr>
      <% anuncios.forEach(anuncio => { %>
      <tr>
        <td><%= anuncio.name %></td>
        <td><%= anuncio.sale %></td>
        <td><%= anuncio.price %></td>
        <td><%= anuncio.tags %></td>
        <td>
          <% if (!anuncio.photo || anuncio.photo === null || anuncio.photo === undefined ) { %>
            <img src="/images/anuncios/default.jpg" alt="" width="100" height="100">
          <% } else {%>
          <img src="/images/anuncios/<%= anuncio.photo %> " alt="" width="100" height="100" onerror = "this.onerror = null; this.src = '/images/anuncios/default.jpg';">
          <% } %> 
        </td>
      </tr>
      <% }) %>
    </table>
    <% } %> 
    
  </body>
</html>
